fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
pandas
numpy
scikit-learn
joblib
psycopg[binary]
psycopg2-binary
sqlalchemy
pgvector
sentence-transformers
langchain
langchain-community
langchain-openai
langchain-anthropic
openai
anthropic
wikipedia
duckduckgo-search
